<!DOCTYPE html>
<html>
<header>
  <title><%=@article.title %></title>
</header>

<body>
  <h1></h1>
  <div>
    <h2><%= @article.title%></h2><br>
    <p><%= @article.content%></p>
    <form method="post" action="/articles/<%= @article.id %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete">
    </form> 
  </div>

</body>

</html>